packages:
    yum:
        git: []
        nodejs: []

commands:
    01_npm_download:
      command: "curl https://npmjs.org/install.sh | sh"

option_settings:
    "aws:elasticbeanstalk:application:environment":
        # your settings module here
        DJANGO_SETTINGS_MODULE: "backend.settings" 
        
        # add the path to the root of your django app
        # note that this is the path on the target machine
        # EB will deploy your application in /opt/python/current on the target machines
        PYTHONPATH: "/opt/python/current/app/backend:$PYTHONPATH"
        
    "aws:elasticbeanstalk:container:python":
        # path to your wsgi.py file from the root folder of your application
        WSGIPath: backend/backend/wsgi.py
        NumProcesses: 3 
        NumThreads: 20
        
    "aws:elasticbeanstalk:container:python:staticfiles":
        "/static/": "www/static/"

# These commands will be run just before the application is started
container_commands:
    01_migrate:
        command: 'python backend/manage.py migrate --noinput'
        leader_only: true
        
    # You can create a "createadmin" command to create a super user automatically
    # You can use environment variables to define the credentials of the super user
    # If you don't use a createadmin command, delete this command.
    02_createadmin:
        command: 'python backend/manage.py createsuperuser'
        leader_only: true
    
    # You can define a build script in packages.json (using gulp, grunt...) to build your client side files
    03_npm_build:
        command: 'npm install && npm run build'
        
    04_collectstatic:
        command: 'python backend/manage.py collectstatic --noinput'