$brown: #756867;
$lightgrey: #D5D6D2;
$black: #353C3F;
$orange: #FF8D3F;
$red: lighten(red, 15%);
$green: #00D074;

$phone: 360px;
$tablet: 960px;

$xs: 9px;
$s: 18px;
$sm: 20px;
$m: 27px;
$l: 36px;
$xl: 47px;