.login-form {
    display: flex;
    justify-content: center;


    form {
        display: flex;
        flex-direction: column;
        button {
            margin-top: $m;
        }
    }

}

.form-group {
    margin: $m 0;

    label {
        margin: 0 $s $s 0;
    }

    input {
        width: 100%;
        max-width: 180px;
    }
}

.signup-link {
    text-align: center;
    margin: $s 0;
    color: $orange;
    font-size: $s;
    width: auto;
}